# Development/OS artifacts and local settings
.vscode**
__debug_bin
aggregate-inecobank-statement*
coverage.out
**.~lock.*
Inecobank Aggregated Statement.txt
Bank Aggregated Statement.txt

# Local data
tmp**
demo**
*.xml
History *.xls
AccountTransactions*.csv
